
/* LOGO in Top Nav */
.bg-logo {
    width: 8%; /* This is relative but might still be too large or small on certain screens */
    max-width: 150px; /* Maximum size */
    min-width: 50px; /* Minimum size */
}

@media (max-width: 768px) {
    .bg-logo {
        width: 15%; /* Larger percentage for smaller screens */
    }
}

/* Logo in Login Screen */
.bg-login-logo{
    width: 300px;
}

.default-picture{
    width: 10%;
}

.form-select{
    width: 320px;
}

/* pointer for clickable COA */
tr[data-href] {
    cursor: pointer;
}
