:root {
    --error-color: #e74c3c;

}
/* full page */
html{
    height: 100%;
}

.login_bg{
    background-image: url("asset/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1950px;
    background-position: center;
}

/* controls the top left profile pic */
#blank{
    width: 3%;
    height: 100%;
}

/* control the NAME logo */
.logo_name{
    padding-top: 10%;
    width:50%;
    height: 60%;
}

/* control the sprout logo */
.logo{
    padding-top: 10%;
    padding-bottom: 10%;
    width:12%;
    height: 50%;
}

/* control the body */
body{
    margin: 0;
    font-family: system-ui;
    background-color:rgb(19, 117, 71);
}

div{
    padding: 1%;
}

/* controls the box in main  */
#main_form{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21.5%;
    border-radius: 1%;

}
/*New User Form starts here*/
#new_user_form {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 10%; 
}

.form-control {
    margin-bottom: 1%;
    padding-bottom: 1%;
    position: relative;

}

.form-control label {
    color: #444444;
    display: block;
    margin-bottom: 1%;
    font-size: x-large;
}

.form-control input {
    border: 2px solid #6d6d6d;
    border-radius: 4px;
    display: block;
    margin-bottom: 1%;
    width: 100%;
    padding: 2%
}

.form-control input:focus {
    outline: 0;
    border-color: #161616;
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    
    visibility: hidden;
}

.form-control.error small {
    color: var(--error-color);
    visibility: visible;
}
/*End of New user Form*/

#password_form {
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;    
    margin-top: 10%;
    
}

.form-control {
    margin-bottom: 1%;
    padding-bottom: 1%;
    position: relative;
}

.form-control label {
    color: #444444;
    display: block;
    margin-bottom: 1%;
    font-size: x-large;
}

.form-control input {
    border: 2px solid #6d6d6d;
    border-radius: 4px;
    display: block;
    margin-bottom: 1%;
    width: 100%;
    padding: 2%
}

.form-control input:focus {
    outline: 0;
    border-color: #161616;
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    
    visibility: hidden;
}

.form-control.error small {
    color: var(--error-color);
    visibility: visible;
}

/* control the loginbox position */
#login_form{
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;    
    margin-top: 10%;
    
}

/* controls the textbox */
.login_form_field{
    background-color: white;
    display: inline-block;
    align-items: center;
    font-size: 150%;
    border-radius: 5%;
    height: 10%;
    width: 30%;
    padding: 3% 5% 3% 5%;  /* top% right% bot% Left% */
    margin-bottom: -4%;
    outline: 0;
}

/* color of the text box when not in use*/
.login_form_field::placeholder{
    background-color: white;
}


/* controls the looks of login submit button */
.login_submit_form{
    background-color: rgb(19, 117, 71);
    display: inline-block;
    color: white;
    font-size: 200%;
    border-radius: 5%;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 30%;
    
}

/* controls the looks of the new user & forgot password */
.nav_form_field{
    margin-top: 8%;
    font-size: 145%;
}


/* --------------------NEW-USERS-STARTS-HERE---------------------- */

/* control the page in new user */
#user_page_form{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    margin-top: -2.5%;
}

/* control the form in new user */
.new_user_form_field{
    background-color: white;
    display: inline-block;
    align-items: center;
    font-size: 150%;
    height: 15%;
    width: 50%;
    border-radius: 1%; 
    padding: 3% 5% 3% 5%; /* top% right% bot% Left% */
    margin-bottom: -4%;
    outline: 0;

}

/* centers the profile pic */
#avatar_form{
    text-align: center;
}

/* Given Profile Pictures size */
#new_profile_pic{
    width: 10%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
    margin: auto;
}
/* control the radio next to the avatar */
#avatar_radio{
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

/* Choosing your own Profile Picture */
.self_profile_pic{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card background for the choose profile picture */
.card{
    width: 50%;
    background: #fff;
    padding: 5%;
    border-radius: 5%;
    text-align: center;
    color: #333;
    margin-bottom: 3%;
}

/* placeholder image for choose profile picture */
.card img{
    width: 30%;
    border-radius: 50%;
}

/* upload image box */
.upload_box{
    display: block;
    width: 40%;
    background: red;
    color: white;
    padding: 2%;
    margin: 5% auto;
    border-radius: 5%;
    cursor: pointer;
}

/* removes the choose file option for choosing profile picture */
input{
    display: none;
}

/* control the submit button in new user */
.new_user_submit_form{
    background-color: rgb(19, 117, 71);
    display: inline-block;
    color: white;
    font-size: 200%;
    border-radius: 5%;
    outline: none;
    border: none;
    
    margin-top: 20%;
    margin-bottom: 20%;
}

/* centers the dropdown list */
.selector{
    text-align: center;
}

/* control the dropdown list */
.dropdown_list_SQ{
    font-size: 200%;
    
}

/* control the size of the things inside the dropdown list */
.question_select{
    font-size: 100%;
    padding: 2% 2%;
    margin-bottom: 2%;
}



/* --------------------FORGOT-PASSWORD-STARTS-HERE---------------------- */

/* control the page of forgot password */
#forgot_page_form{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 1%;

}

/* control the form of forgot password */
.forgot_password_form{
    background-color: white;
    display: inline-block;
    align-items: center;
    font-size: 200%;
    height: 10%;
    width: 50%;
    border-radius: 1%; 
    margin-bottom: -4%;
    outline: 0;
}

/* control the password page 1 submit button */
.password_submit_form{
    background-color: rgb(19, 117, 71);
    display: inline-block;
    color: white;
    font-size: 200%;
    border-radius: 5%;
    outline: none;
    border: none;
    margin-top: 0%;
    margin-bottom: 10%;
}

/* control the form position */
#password_form{
    display: grid;
    justify-items: center;
    align-items: center;
}

/* color of the text box when not in use*/
.recover_password_form::placeholder{
    color: white;
}

.dropdown_list_FP{
    font-size: 200%;
}
/* --------------------Admin-STARTS-HERE---------------------- */
.admin-welcome {
    width: 1297px;
    height: 98px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 98px; /* Vertically centers the text */
}

/* Style for the extendable table */
.extendable-table {
    margin-top: 20px;
}

.extendable-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

.extendable-table th,
.extendable-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.extendable-table th {
    background-color: #f2f2f2;
}

/* Style for the extended table */
.extended-table {
    display: none; /* Initially hide the extended table */
    margin-top: 10px;
}

.extended-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

.extended-table th,
.extended-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.extended-table th {
    background-color: #f2f2f2;
}

