/* full page */
html{
    height: 100%;
}

/* controls the top left profile pic */
#blank{
    width: 3%;
    height: 100%;
}

/* control the sprout logo */
.logo{
    width:12%;
    height: 100%;
}

/* control the body */
body{
    background-color:rgb(19, 117, 71);
    /* font-family:Arial, Helvetica, sans-serif */
}

/* controls the box in main  */
#main_form{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: gainsboro;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    border-radius: 1%;
    
}

/* control the loginbox position */
#login_form{
    display: grid;
    justify-items: center;
    align-items: center;
    width:100%;    
    margin-top: 10%;
    
}

/* controls the textbox */
.login_form_field{
    background-color: gainsboro;
    display: inline-block;
    align-items: center;
    font-size: 200%;
    border-radius: 5%;
    height: 10%;
    width: 30%;
    padding: 3% 5% 3% 5%;  /* top% right% bot% Left% */
    margin-bottom: -4%;
    outline: 0;
}

/* color of the text box when not in use*/
.login_form_field::placeholder{
    background-color: gainsboro;
}


/* controls the looks of login submit button */
.login_submit_form{
    background-color: rgb(19, 117, 71);
    display: inline-block;
    color: gainsboro;
    font-size: 200%;
    border-radius: 5%;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 30%;
    
}

/* controls the looks of the new user & forgot password */
.nav_form_field{
    margin-top: 15%;
}


/* --------------------NEW-USERS-STARTS-HERE---------------------- */

/* control the page in new user */
#user_page_form{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: gainsboro;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

/* control the form in new user */
.new_user_form_field{
    background-color: gainsboro;
    display: inline-block;
    align-items: center;
    font-size: 200%;
    height: 10%;
    width: 50%;
    border-radius: 1%; 
    padding: 3% 5% 3% 5%;
    margin-bottom: -4%;
    outline: 0;

}

/* centers the profile pic */
#avatar_form{
    text-align: center;
}

/* Given Profile Pictures size */
#new_profile_pic{
    width: 10%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
    margin: auto;
}
/* control the radio next to the avatar */
#avatar_radio{
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

/* Choosing your own Profile Picture */
.self_profile_pic{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card background for the choose profile picture */
.card{
    width: 50%;
    background: #fff;
    padding: 5%;
    border-radius: 5%;
    text-align: center;
    color: #333;
    margin-bottom: 3%;
}

/* placeholder image for choose profile picture */
.card img{
    width: 30%;
    border-radius: 50%;
}

/* upload image box */
.upload_box{
    display: block;
    width: 40%;
    background: red;
    color: gainsboro;
    padding: 2%;
    margin: 5% auto;
    border-radius: 5%;
    cursor: pointer;
}

/* removes the choose file option for choosing profile picture */
input{
    display: none;
}

/* control the submit button in new user */
.new_user_submit_form{
    background-color: rgb(19, 117, 71);
    display: inline-block;
    color: gainsboro;
    font-size: 200%;
    border-radius: 5%;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
}

/* centers the dropdown list */
.selector{
    text-align: center;
}

/* control the dropdown list */
.dropdown_list_SQ{
    font-size: 200%;
    padding-right: 10%;
}

/* control the size of the things inside the dropdown list */
.question_select{
    font-size: 100%;
    padding: 2% 2%;
    margin-bottom: 2%;
}



/* --------------------FORGOT-PASSWORD-STARTS-HERE---------------------- */

/* control the page of forgot password */
#forgot_page_form{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: gainsboro;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    border-radius: 1%;

}

/* control the form of forgot password */
.forgot_password_form{
    background-color: gainsboro;
    display: inline-block;
    align-items: center;
    font-size: 200%;
    height: 10%;
    width: 50%;
    border-radius: 1%; 
    padding: 3% 5% 3% 5%;
    margin-bottom: -4%;
    outline: 0;
}

/* control the password page 1 submit button */
.password_submit_form{
    background-color: rgb(19, 117, 71);
    display: inline-block;
    color: gainsboro;
    font-size: 200%;
    border-radius: 5%;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 40%;
    margin-bottom: 40%;
}

/* control the form position */
#password_form{
    display: grid;
    justify-items: center;
    align-items: center;
}

/* color of the text box when not in use*/
.recover_password_form::placeholder{
    color: gainsboro;
}

.dropdown_list_FP{
    font-size: 200%;
}
/* --------------------Admin-STARTS-HERE---------------------- */
.admin-welcome {
    width: 1297px;
    height: 98px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 98px; /* Vertically centers the text */
}
